# SCCT Service. cp scct.service
[Unit]
Description=SCCT Holepunch Service
After=network.target

[Service]
ExecStart=/root/SCCT-LAN-Breakout/signalserver/.venv/bin/python /root/SCCT-LAN-Breakout/signalserver/signal_server.py
Type=simple
WorkingDirectory=/root
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target