<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <meta charset="utf-8" />
  <title>Splinter Cell Online PS2</title>
  <meta name="Splinter Cell Online"
    content="Splinter Cell Online PS2 is a multiplayer gaming community that plays on playstation 2.">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="icon" href="{{url_for('static', filename='scops2_rounded.png')}}" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



</head>

<body >
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


 <!-- Documentation:
   https://daisyui.com/
   https://tailwindcss.com/
   https://www.highcharts.com/
   https://vuejs.org/
   https://pyodide.org/en/stable/
   https://www.papaparse.com/
   https://danfo.jsdata.org/
   https://axios-http.com/docs/intro -->

  <div id="index_app" class="drawer drawer-end">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="w-full navbar bg-neutral text-neutral-content shadow-xl">
        <div class="avatar">
          <div class="w-8 rounded-lg">
            <img v-if="avatar != 'none' && avatar != 'undefined' "
              v-bind:src=" 'https://cdn.discordapp.com/avatars/' + [[ discord_id ]] + '/' + [[ avatar ]] + '.png' " />
          </div>
        </div>
        <div v-if="username != 'undefined'" class="flex-1 px-2 mx-2  btn btn-ghost normal-case text-lg "><a>[[username]]</a></div>
        <div v-else class="flex-1 px-2 mx-2  btn btn-ghost normal-case text-lg "><a></a></div>
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <!-- <div class="avatar online">
              <div class="w-24 rounded-full">
                <img src="https://placeimg.com/192/192/people" />
              </div>
            </div> -->
            <!-- <div class="avatar offline">
              <div class="w-16 rounded-full">
                <img src="https://cdn.discordapp.com/avatars/537355342313422849/1ee4375beb131ae43a4e4b81e267a265" />
              </div>
            </div> -->
            <li><a href="/" class="btn btn-ghost btn-ghost normal-case text-green-400 hover:text-green-400">Home<i
                  class="material-icons ">home</i></a>
            </li>
            <li><a href="https://www.splintercellonline.net/Gameplay/" class="btn btn-ghost btn-ghost normal-case hover:text-base-100">Gameplay<i
                  class="material-icons ">live_tv</i></a></li>
            <li><a href="https://www.splintercellonline.net/Videos/" class="btn btn-ghost btn-ghost normal-case hover:text-base-100">Tutorials<i
                  class="material-icons ">videogame_asset</i></a>
            </li>
            <li><a href="https://www.splintercellonline.net/SetupGuide/PS2/" class="btn btn-ghost normal-case hover:text-base-100">Setup Guide<i
                  class="material-icons ">format_list_numbered</i></a></li>
            <!-- <li><a href="/Messages/" class="btn btn-ghost normal-case hover:text-base-100">Messages<i
              class="material-icons ">forum</i></a></li> -->
            <li><a href="https://www.splintercellonline.net/Leaderboards" class="btn  btn-ghost normal-case hover:text-base-100">Leaderboards<i
                  class="material-icons ">insert_chart</i></a></li>
            <div v-if="role === 'admin'">
              <li><a href="https://www.splintercellonline.net/Dashboard_Uploads" class="btn btn-ghost normal-case hover:text-base-100">Admin Dashboard<i
                    class="material-icons">dashboard</i></a>
              </li>
            </div>
            <li><a href="https://www.splintercellonline.net/signout" class="rounded-md tooltip tooltip-bottom hover:text-base-300"
                data-tip="no, don't go!">Logout</a></li>
          </ul>
        </div>
        <div class="flex-none lg:hidden">
          <label for="my-drawer-3" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
  
      </div>
      <div id="content">
        <div class=" min-h-screen">
          <div style="text-align: center;">
            <center>
              <div class="h-full">
                <img class="mt-4 mask mask-squircle h-72 hover:-translate-y-2 ease-in-out transition" src="{{url_for('static', filename='scops2_rounded.png')}}" />
                <br>
                <!-- <button class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100">[[ message ]] </button> -->
                <!-- <a class="text-lg font-bold">[[ message ]] </a>
                <br>
                <br>     -->
                <!-- <div class="flex flex-col justify-center"> -->
                  <div class="flex flex-row justify-center p-2">
                    <a class="text-lg">Your User ID: <b class="pt-1 pr-2">[[ user_id ]]</b></a>
                    <!-- <b class="pt-1 pr-2">[[ user_id ]]</b> -->
                    <a class="btn btn-sm" @click="copy_id(user_id)">
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
                    </a>
                  </div>
                <!-- </div> -->
        
                <div class="flex flex-row justify-center m-2">
        
                  <label v-if="connection == 'host' " class="text-black text-lg font-bold pt-2 pr-2">Host</label>
                  <label v-else class="text-base-300 text-lg pt-2 pr-2">Host</label>
                
                  <label class="swap swap-flip">
                    
                    <!-- this hidden checkbox controls the state -->
                  <input type="checkbox" checked>
                
        
                  <svg class="swap-on fill-current" @click="connection = 'client' " xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 -960 960 960"><path d="M760-400v-260L560-800 360-660v60h-80v-100l280-200 280 200v300h-80ZM560-800Zm20 160h40v-40h-40v40Zm-80 0h40v-40h-40v40Zm80 80h40v-40h-40v40Zm-80 0h40v-40h-40v40ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Z"/></svg>
                  <!-- volume off icon -->
                  <!-- <svg class="swap-off fill-current" @click="connection = 'client' " xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path d="M3,9H7L12,4V20L7,15H3V9M16.59,12L14,9.41L15.41,8L18,10.59L20.59,8L22,9.41L19.41,12L22,14.59L20.59,16L18,13.41L15.41,16L14,14.59L16.59,12Z"/></svg> -->
                  <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg " @click="connection = 'host' " height="48" viewBox="0 -960 960 960" width="48" fill="#e8eaed"><path d="M182-200q-51 0-79-35.5T82-322l42-300q9-60 53.5-99T282-760h396q60 0 104.5 39t53.5 99l42 300q7 51-21 86.5T778-200q-21 0-39-7.5T706-230l-90-90H344l-90 90q-15 15-33 22.5t-39 7.5Zm16-86 114-114h336l114 114q2 2 16 6 11 0 17.5-6.5T800-304l-44-308q-4-29-26-48.5T678-680H282q-30 0-52 19.5T204-612l-44 308q-2 11 4.5 17.5T182-280q2 0 16-6Zm482-154q17 0 28.5-11.5T720-480q0-17-11.5-28.5T680-520q-17 0-28.5 11.5T640-480q0 17 11.5 28.5T680-440Zm-80-120q17 0 28.5-11.5T640-600q0-17-11.5-28.5T600-640q-17 0-28.5 11.5T560-600q0 17 11.5 28.5T600-560ZM310-440h60v-70h70v-60h-70v-70h-60v70h-70v60h70v70Zm170-40Z"/></svg>
                </label>
                  <label v-if="connection == 'client' " class="text-black text-lg font-bold pt-2 pl-2">Player</label>
                  <label v-else class="text-base-300 text-lg pt-2 pl-2">Player</label>
                </div>    
         
                <div v-if="connection == 'host' " class="justify-center sm:w-1/2 md:w-1/2 space-y-2 p-2">
                  <label class="input input-bordered flex items-center gap-2">
                    PS2 IP: 
                    <input type="text" class="grow font-bold" placeholder="ex. 192.168.0.253" v-model="ps2_ip" />
                  </label>
                  <!-- <label class="input input-bordered flex items-center gap-2">
                    Player 2 IP/ID: 
                    <input type="text" class="grow font-bold" v-model="players[0]"/>
                  </label>
                  <label class="input input-bordered flex items-center gap-2">
                    Player 3 IP/ID: 
                    <input type="text" class="grow font-bold" v-model="players[1]" />
                  </label>
                  <label class="input input-bordered flex items-center gap-2">
                    Player 4 IP/ID: 
                    <input type="text" class="grow font-bold" v-model="players[2]"  />
                  </label> -->
                  <div v-if="connected !== 'true' ">
                    <button @click="run_server" class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100 w-full">Host Game</button>
                  </div>
                  <div v-else>
                    <button @click="end_connection" class="btn text-black w-full">End Connection</button>
                  </div>
                </div>
                <div v-else class="justify-center sm:w-1/2 md:w-1/2 space-y-2 p-2">
                  <div class="flex flex-row justify-center p-2">
                    <a class="text-lg">Test Server: <b>testserver.scct.airmon-ster.com</b></a>
                    <!-- <b class="pt-1 pr-2">[[ user_id ]]</b> -->
                    <a class="btn btn-sm" @click="copy_id('testserver.scct.airmon-ster.com')">
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z"/></svg>
                    </a>
                  </div>

                  <label class="input input-bordered flex items-center gap-2">
                    Host IP/ID: 
                    <input type="text" class="grow font-bold" v-model="host_ip" />
                    </label>
                    <div v-if="connected !== 'true' ">
                      <button @click="connect" class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100 w-full">Connect </button>
                    </div>
                    <div v-else>
                      <button @click="end_connection" class="btn text-black w-full">End Connection</button>
                    </div>
                </div>
        
              </div>
            </center>
          </div>
        
        <div v-if="status == 'success'" class="toast toast-bottom toast-end">
          <div class="alert alert-success">
            <div>
              <span>[[reason]]</span>
            </div>
          </div>
        </div>
        <div v-else-if="status == 'fail'" class="toast toast-bottom toast-end">
          <div class="alert alert-warning">
            <div>
              <span>[[reason]]</span>
            </div>
          </div>
        </div>
  
        <div class="container">
          <div class="section">
  
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 h-full">
        <!-- Sidebar content here -->
        <div class="center">
          <img src="{{url_for('static', filename='scops2_rounded.png')}}" width="90%" />
        </div>
        <li><a href="/"><i class="material-icons ">home</i>Home</a></li>
        <li><a href="https://www.splintercellonline.net/Gameplay/"><i class="material-icons">live_tv</i>Gameplay</a>
        </li>
        <li><a href="https://www.splintercellonline.net/Videos/"><i class="material-icons ">videogame_asset</i>Tutorials</a></li>
        <li><a href="https://www.splintercellonline.net/SetupGuide/PS2/"><i class="material-icons ">format_list_numbered</i>Setup Guide</a></li>
        <!-- <li><a href="/Messages/"><i class="material-icons ">forum</i>Messages</a></li> -->
        <li><a href="https://www.splintercellonline.net/Leaderboards"><i class="material-icons">insert_chart</i>Leaderboards</a></li>
        <div v-if="role === 'admin'">
          <li><a href="https://www.splintercellonline.net/Dashboard_Uploads"><i class="material-icons">dashboard</i>Admin Dashboard</a>
          </li>
        </div>
  
        <br>
        <li><a href="https://www.splintercellonline.net/signout"
            class="btn btn-block btn-primary shadow-lg shadow-green-500/50   hover:bg-primary  hover:shadow-xl hover:shadow-green-500/50 no-animation">Logout</a>
        </li>
  
      </ul>
    </div>
  </div>



  
</body>
<script>
  // Disable right-clicking
document.addEventListener('contextmenu', function(event) {
    event.preventDefault();
});
</script>
  <script>
    const { createApp } = Vue
    
    createApp({
      delimiters : ['[[', ']]'],
        data(){
          return {
            message: 'Welcome to SCOPS2!',
            user_id: '',
            activeTab: 2,
            connection: 'host',
            ps2_ip: '',
            players: [],
            host_ip: '',
            connected: 'false',
            data: '',
            discord_id: '',
            avatar: '',
            role: '',
            email: '',
            status: '',
            reason: '',
            pwa_install: '',
            username: '',
          }
        },
        methods: {
          setActiveTab(tab) {
            this.activeTab = tab;
          },
          copy_id(user_id){
            navigator.clipboard.writeText(user_id).then(() => {
              alert(user_id+' copied to clipboard');
            }).catch(err => {
              console.error('Failed to copy: ', err);
            });
          },
          run_server(){
            this.connected = 'true';
            // remove null player entries from player list
            this.players.filter(item => item !== '');
            // create content for server arguments
            content = {
              ps2_ip: this.ps2_ip,
              players: this.players,
            }
            axios.post('/api/run_server', content)
            .then(response => {
                // handle success
                console.log(response);
                this.data = JSON.parse(JSON.stringify(response['data']))
                console.log(this.data)
            }).catch(error =>{
              console.log(error);
            })
          },
          connect(){
            this.connected = 'true';
            // create content for server arguments
            content = {
              host_ip: this.host_ip,
            }
            axios.post('/api/connect', content)
            .then(response => {
                // handle success
                console.log(response);
                this.data = JSON.parse(JSON.stringify(response['data']))
                console.log(this.data)
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
          },
          end_connection(){
            // end process connection
            axios.get('/api/end_connection')
            .then(response => {
                // handle success
                console.log(response);
                this.data = JSON.parse(JSON.stringify(response['data']))
                console.log(this.data)
                this.connected = 'false';

            })
            .catch(error => {
                // handle error
                console.log(error);
            })
          },

        },
        watch: {

        },
        async created(){
          console.log("{{data}}")
          this.username = "{{data.username}}";
          this.discord_id = "{{data.discord_id}}";
          this.avatar = "{{data.avatar}}";
          this.role = "{{data.role}}";
          this.email = '{{data.email}}';
          this.status = '{{data.status}}';
          this.reason = '{{data.reason}}';

            // Make a request for a user with a given ID
            try{
              const response = await axios.get('/api/get_id');
                // handle success
                console.log(response);
                this.user_id = JSON.parse(JSON.stringify(response['data']['user_id']))
                console.log(this.user_id)
            } catch(error){
              // handle error
              console.log(error);
            }
      },
        mounted() {
          this.email = 1; //this is to avoid the email prompt for now, in the future we can incorporate it... will also have to create logic to send the email upon new content uploads...
          if (this.email == '') {
            // document.getElementById(email_modal).showModal()
            email_modal.showModal()
          }
        },
        computed:{

        }

    }).mount('#index_app')
  </script>
</html>      
