<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <meta charset="utf-8" />
  <title>Splinter Cell Online PS2</title>
  <meta name="Splinter Cell Online"
    content="Splinter Cell Online PS2 is a multiplayer gaming community that plays on playstation 2.">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="icon" href="{{url_for('static', filename='scops2_rounded.png')}}" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


  <!-- Documentation:
   https://daisyui.com/
   https://tailwindcss.com/
   https://www.highcharts.com/
   https://vuejs.org/
   https://pyodide.org/en/stable/
   https://www.papaparse.com/
   https://danfo.jsdata.org/
   https://axios-http.com/docs/intro -->

  <div id="index_app2" class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      <div class="w-full navbar bg-neutral text-neutral-content shadow-xl">
        <div class="avatar">
          <div class="w-8 rounded-lg">
            <img v-if="avatar != 'none' && avatar != 'undefined' "
              v-bind:src=" 'https://cdn.discordapp.com/avatars/' + [[ discord_id ]] + '/' + [[ avatar ]] + '.png' " />
          </div>
        </div>
        <div v-if="username != 'undefined'" class="flex-1 px-2 mx-2  btn btn-ghost normal-case text-lg ">
          <a>[[username]]</a>
        </div>
        <div v-else class="flex-1 px-2 mx-2  btn btn-ghost normal-case text-lg "><a></a></div>
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <!-- Navbar menu content here -->
            <!-- <div class="avatar online">
              <div class="w-24 rounded-full">
                <img src="https://placeimg.com/192/192/people" />
              </div>
            </div> -->
            <!-- <div class="avatar offline">
              <div class="w-16 rounded-full">
                <img src="https://cdn.discordapp.com/avatars/537355342313422849/1ee4375beb131ae43a4e4b81e267a265" />
              </div>
            </div> -->
            <li><a href="/" class="btn btn-ghost btn-ghost normal-case text-green-400 hover:text-green-400">Home<i
                  class="material-icons ">home</i></a>
            </li>
            <li><a href="https://www.splintercellonline.net/Gameplay/"
                class="btn btn-ghost btn-ghost normal-case hover:text-base-100">Gameplay<i
                  class="material-icons ">live_tv</i></a></li>
            <li><a href="https://www.splintercellonline.net/Videos/"
                class="btn btn-ghost btn-ghost normal-case hover:text-base-100">Tutorials<i
                  class="material-icons ">videogame_asset</i></a>
            </li>
            <li><a href="https://www.splintercellonline.net/SetupGuide/PS2/"
                class="btn btn-ghost normal-case hover:text-base-100">Setup Guide<i
                  class="material-icons ">format_list_numbered</i></a></li>
            <!-- <li><a href="/Messages/" class="btn btn-ghost normal-case hover:text-base-100">Messages<i
              class="material-icons ">forum</i></a></li> -->
            <li><a href="https://www.splintercellonline.net/Leaderboards"
                class="btn  btn-ghost normal-case hover:text-base-100">Leaderboards<i
                  class="material-icons ">insert_chart</i></a></li>
            <div v-if="role === 'admin'">
              <li><a href="https://www.splintercellonline.net/Dashboard_Uploads"
                  class="btn btn-ghost normal-case hover:text-base-100">Admin Dashboard<i
                    class="material-icons">dashboard</i></a>
              </li>
            </div>
            <li><a href="https://www.splintercellonline.net/signout"
                class="rounded-md tooltip tooltip-bottom hover:text-base-300" data-tip="no, don't go!">Logout</a></li>
          </ul>
        </div>
        <div class="flex-none lg:hidden">
          <label for="my-drawer-4" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>

      </div>
      <div id="content">
        <div class=" min-h-screen">
          <div style="text-align: center;">
            <center>
              <div v-if="connected !== 'true' " class="h-full">
                <!-- <img class="mt-4 mask mask-squircle h-72 hover:-translate-y-2 ease-in-out transition"
                  src="{{url_for('static', filename='scops2_rounded.png')}}" /> -->

                <!-- <button class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100">[[ message ]] </button> -->
                <!-- <a class="text-lg font-bold">[[ message ]] </a>
                <br>
                <br>     -->
                <!-- <div class="flex flex-col justify-center"> -->
                <!-- </div> -->
                <!-- <div class="dropdown dropdown-bottom flex justify-center sm:w-1/2 md:w-1/2 pt-4 pb-2 pl-2 pr-2">
                  <div v-if="game_selection == '' " tabindex="0" role="button" class="btn w-full">Select Game</div>
                  <div v-else tabindex="0" role="button" class="btn w-full">[[ game_selection ]]</div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-full shadow">
                    <li><a @click="game_selection = 'CT' ">Chaos Theory </a></li>
                    <li><a @click="game_selection = 'DA' ">Double Agent </a></li>
                    <li><a @click="game_selection = 'PT' ">Pandora Tomorrow </a></li>
                  </ul>
                </div> -->
                <div class="flex flex-row justify-between space-x-2 w-full sm:w-1/2 md:w-1/2 p-2">

                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Select Game</span>
                    </div>
                    <select v-model="game_selection" class="select select-success hover:border-green-400 w-full">
                      <option disabled selected>Select Game</option>
                      <option>Chaos Theory</option>
                      <option>Double Agent</option>
                      <option>Pandora Tomorrow</option>
                    </select>
                  </label>
                  <label class="form-control w-full">
                    <div class="label">
                      <span class="label-text">Select Adapter</span>
                    </div>
                    <select v-model="adapter" class="select select-success hover:border-green-400 w-full">
                      <option disabled selected>Select Adapter</option>
                      <option v-for="item in nics">[[ item ]]</option>
                    </select>
                  </label>
                </div>
                  <!-- <div class="dropdown dropdown-bottom flex justify-center sm:w-1/2 md:w-1/2 pb-2 pl-2 pr-2">
                  <div v-if="adapter == '' " tabindex="0" role="button" class="btn w-full">Select Network Adapter</div>
                  <div v-else tabindex="0" role="button" class="btn w-full">[[ adapter ]]</div>
                  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-full shadow">
                    <li v-for="item in nics"><a @click="adapter = item">[[ item ]]</a></li>
                  </ul>
                </div> -->
                <div v-if="connection == 'portforward' " class="justify-center sm:w-1/2 md:w-1/2 space-y-2">
                </div>
                <div v-else class="justify-center sm:w-1/2 md:w-1/2 space-y-2 pl-2 pr-2 pb-2">
                  <label class="input input-bordered input-success hover:border-green-400 flex items-center gap-2">
                    PS2 IP:
                    <input type="text" class="grow font-bold" placeholder="ex. 192.168.0.253" v-model="ps2_ip" />
                  </label>
                  <label class="input input-bordered input-success hover:border-green-400 flex items-center gap-2">
                    Signal Server:
                    <input type="text" class="grow font-bold" v-model="signal_server" />
                  </label>
                </div>

                <div class="flex flex-row justify-between  sm:w-1/2 md:w-1/2 pl-2 pr-2">

                  <div class="flex pr-4">
                  <label v-if="connection == 'portforward' " class="text-black text-lg font-bold pt-2 pr-2">Port
                    Forward</label>
                  <label v-else class="text-base-300 text-lg pt-2 pr-2">Port Forward</label>

                  <!-- <label class="swap swap-flip">

                    <input type="checkbox" checked>


                    <svg class="swap-on fill-current" @click="connection = 'holepunch' "
                      xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 -960 960 960">
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="M200-120q-33 0-56.5-23.5T120-200v-160q0-33 23.5-56.5T200-440h400v-160h80v160h80q33 0 56.5 23.5T840-360v160q0 33-23.5 56.5T760-120H200Zm0-80h560v-160H200v160Zm80-40q17 0 28.5-11.5T320-280q0-17-11.5-28.5T280-320q-17 0-28.5 11.5T240-280q0 17 11.5 28.5T280-240Zm140 0q17 0 28.5-11.5T460-280q0-17-11.5-28.5T420-320q-17 0-28.5 11.5T380-280q0 17 11.5 28.5T420-240Zm140 0q17 0 28.5-11.5T600-280q0-17-11.5-28.5T560-320q-17 0-28.5 11.5T520-280q0 17 11.5 28.5T560-240Zm10-390-58-58q26-24 58-38t70-14q38 0 70 14t58 38l-58 58q-14-14-31.5-22t-38.5-8q-21 0-38.5 8T570-630ZM470-730l-56-56q44-44 102-69t124-25q66 0 124 25t102 69l-56 56q-33-33-76.5-51.5T640-800q-50 0-93.5 18.5T470-730ZM200-200v-160 160Z" />
                    </svg>
                    <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg "
                      @click="connection = 'portforward' " height="48" viewBox="0 -960 960 960" width="48"
                      fill="#e8eaed">
                      <path xmlns="http://www.w3.org/2000/svg"
                        d="M640-80v-90q-56-18-94-64t-44-106h80q8 43 40.5 71.5T700-240h120q25 0 42.5 17.5T880-180v100H640Zm120-200q-33 0-56.5-23.5T680-360q0-33 23.5-56.5T760-440q33 0 56.5 23.5T840-360q0 33-23.5 56.5T760-280ZM360-400q0-150 105-255t255-105v80q-117 0-198.5 81.5T440-400h-80Zm160 0q0-83 58.5-141.5T720-600v80q-50 0-85 35t-35 85h-80ZM80-520v-100q0-25 17.5-42.5T140-680h120q45 0 77.5-28.5T378-780h80q-6 60-44 106t-94 64v90H80Zm120-200q-33 0-56.5-23.5T120-800q0-33 23.5-56.5T200-880q33 0 56.5 23.5T280-800q0 33-23.5 56.5T200-720Z" />
                    </svg>
                  </label> -->
                  <input
                    type="checkbox"
                    class="toggle border-green-600 bg-green-600  hover:bg-green-400 flex justify mt-3"
                    @click="switch_connection"
                     />
                  <label v-if="connection == 'holepunch' " class="text-black text-lg font-bold pt-2 pl-2">Hole
                    Punch</label>
                  <label v-else class="text-base-300 text-lg pt-2 pl-2">Hole Punch</label>
                </div>
                <button v-if="connection == 'holepunch' && ps2_ip && signal_server && adapter && game_selection" @click="run_server"
                class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100 grow">Host
                Game
              </button>
              <button v-else-if="connection == 'portforward' && adapter && game_selection" @click="run_server"
              class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100 grow">Host
              Game
            </button>
              <button v-else
                class="btn btn-disabled text-base-100 grow">Host
                Game
              </button>

                </div>
                <br>
                <h1 v-if="lobbies.length == 0">No Lobbies Created...</h1>
                <div v-for="item in lobbies" class="sm:w-1/2 md:w-1/2">
                  <div v-if="item.host !== this.django_username" class="flex flex-row w-full justify-between p-2">
                    <h1 class="text-xl font-medium pt-2 pl-2">[[ item.host_username ]]</h1>
                    <div class="flex flex-row">
                      <h1 v-if="item.player2" class="pt-2 pr-2 text-xl font-medium">(2/4)</h1>
                      <h1 v-else-if="item.player3" class="pt-2 pr-2 text-xl font-medium">(3/4)</h1>
                      <h1 v-else-if="item.player4" class="pt-2 pr-2 text-xl font-medium">(4/4)</h1>
                      <h1 v-else class="pt-2 pr-2 text-xl font-medium">(1/4)</h1>
                      <button v-if="adapter && game_selection" @click="connect(item.endpoint,item.host_username,item)"
                      class="btn bg-green-500 stroke-green-500 hover:bg-green-500 hover:border-green-500 hover:shadow-lg hover:shadow-green-500/50 text-base-100">Join Lobby
                    </button>
                    <button v-else
                    class="btn btn-disabled text-base-100">Join Lobby
                  </button>
                  <button v-if="item.spectate_link" 
                    class="btn bg-orange-500 stroke-orange-500 hover:bg-orange-500 hover:border-orange-500 hover:shadow-lg hover:shadow-orange-500/50 text-base-100"> Spectate
                  </button>                  
                </div>
                  </div>
                      <p v-if="item.player2" class="flex justify-content-start pl-4">[[ item.player2 ]]</p>
                      <p v-if="item.player3" class="flex justify-content-start pl-4">[[ item.player3 ]]</p>
                      <p v-if="item.player4" class="flex justify-content-start pl-4">[[ item.player4 ]]</p>
                      <br>
                  
                </div>
              </div>
              <div v-else class="h-full">
                <br>

                <a class="text-2xl">[[ current_lobby.host_username ]]'s Lobby - [[ current_lobby.selected_game ]]</a>
                <div class="flex flex-row justify-center m-2">
                  <button @click="end_connection()"
                    class="btn bg-base-300 stroke-base-300 text-base-500 w-full">Leave
                    Lobby
                  </button>
                  <!-- put live stream popup button here -->

                </div>
                <br>
                <div>
                  <h3 class="text-lg">[[ current_lobby.host_username ]]</h3>
                </div>
                <div>
                  <h3 class="text-lg">[[ current_lobby.player2 ]]</h3>
                </div>
                <div>
                  <h3 class="text-lg">[[ current_lobby.player3 ]]</h3>
                </div>
                <div>
                  <h3 class="text-lg">[[ current_lobby.player4 ]]</h3>
                </div>
              </div>
            </center>
          </div>

          <div v-if="status == 'success'" class="toast toast-bottom toast-end">
            <div class="alert alert-success">
              <div>
                <span>[[reason]]</span>
              </div>
            </div>
          </div>
          <div v-else-if="status == 'fail'" class="toast toast-bottom toast-end">
            <div class="alert alert-warning">
              <div>
                <span>[[reason]]</span>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="section">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer-4" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 h-full">
        <!-- Sidebar content here -->
        <div class="center">
          <img src="{{url_for('static', filename='scops2_rounded.png')}}" width="90%" />
        </div>
        <li><a href="/"><i class="material-icons ">home</i>Home</a></li>
        <li><a href="https://www.splintercellonline.net/Gameplay/"><i class="material-icons">live_tv</i>Gameplay</a>
        </li>
        <li><a href="https://www.splintercellonline.net/Videos/"><i
              class="material-icons ">videogame_asset</i>Tutorials</a></li>
        <li><a href="https://www.splintercellonline.net/SetupGuide/PS2/"><i
              class="material-icons ">format_list_numbered</i>Setup Guide</a></li>
        <!-- <li><a href="/Messages/"><i class="material-icons ">forum</i>Messages</a></li> -->
        <li><a href="https://www.splintercellonline.net/Leaderboards"><i
              class="material-icons">insert_chart</i>Leaderboards</a></li>
        <div v-if="role === 'admin'">
          <li><a href="https://www.splintercellonline.net/Dashboard_Uploads"><i
                class="material-icons">dashboard</i>Admin Dashboard</a>
          </li>
        </div>


        <br>
        <li><a href="https://www.splintercellonline.net/signout"
            class="btn btn-block bg-green-500 border-green-500 hover:border-green-500 shadow-lg shadow-green-500/50  hover:bg-green-500  hover:shadow-xl hover:shadow-green-500/50 no-animation">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</body>
<!-- <script>
  // Disable right-clicking
  document.addEventListener('contextmenu', function (event) {
    event.preventDefault();
  });
</script> -->
<script>
  const { createApp } = Vue

  createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        message: 'Welcome to SCOPS2!',
        user_id: '',
        activeTab: 2,
        connection: 'portforward',
        ps2_ip: '',
        players: [],
        host_ip: '',
        connected: 'false',
        data: '',
        discord_id: '',
        avatar: '',
        role: '',
        email: '',
        status: '',
        reason: '',
        pwa_install: '',
        username: '',
        django_username: '',
        signal_server: '20.55.32.50',//'game.scct.airmon-ster.com',
        url: 'https://www.splintercellonline.net',//'http://127.0.0.1:8000',
        lobby: '',
        lobbies: [],
        nics: [],
        adapter: '',
        game_selection: '',
        current_lobby: '',
      }
    },
    methods: {
      switch_connection(){
        if (this.connection == 'holepunch'){
          this.connection = 'portforward';
        } else {
          this.connection = 'holepunch';
        }
      },
      setActiveTab(tab) {
        this.activeTab = tab;
      },
      copy_id(user_id) {
        navigator.clipboard.writeText(user_id).then(() => {
          alert(user_id + ' copied to clipboard');
        }).catch(err => {
          console.error('Failed to copy: ', err);
        });
      },
      run_server() {
        // remove null player entries from player list
        // create content for server arguments
        if (this.connection == 'portforward') {
          const content = {
            host: this.django_username,
            host_username: this.username,
            signal_server: this.user_id,
            adapter: this.adapter,
            selected_game: this.selected_game,
          }
          axios.post(this.url + '/host_room/', content)
            .then(response => {
              // handle success
              console.log(response);
              this.connected = 'true';
            }).catch(error => {
              console.log(error);
            })

        } else {

          const content = {
            host: this.django_username,
            host_username: this.username,
            signal_server: this.signal_server,
            ps2_ip: this.ps2_ip,
            adapter: this.adapter,
            user_id: this.user_id,
            selected_game: this.selected_game,
          }
          axios.all([
            axios.post(this.url + '/host_room/', content),
            axios.post('/api/run_server', content),
          ])
            .then(() => {
              // handle success
              console.log('successful api call.');
              this.connected = 'true';

            }).catch(error => {
              console.log(error);
            })
        }
      },
      connect(endpoint,host_username,lobby) {
        this.connected = 'true';
        this.connection = 'client';
        this.current_lobby = lobby;
        console.log('Adapter: '+this.adapter)
        // create content for server arguments
        const content = {
          host_ip: endpoint,
          host: this.django_username,
          host_username: host_username,
          adapter: this.adapter,
          game_selection: this.game_selection,
        }
        axios.all([
          axios.post(this.url + '/join_room/', content),
          axios.post('/api/connect', content)
        ])
          .then(() => {
            // handle success
            console.log('successful api call.')
          })
          .catch(error => {
            // handle error
            console.log(error);
          })
      },
      end_connection() {
        this.current_lobby = '';
        const content = {
          host: this.django_username,
        }
        // end process connection
        if (this.connection !== 'portforward') {


          axios.all([
            axios.post(this.url + '/leave_lobby/', content),
            axios.get('/api/end_connection')
          ])
            .then(() => {
              // handle success
              console.log('successful api call.');
              this.connected = 'false';
              this.connection = 'portforward';
              this.get_lobbies();
            })
            .catch(error => {
              // handle error
              console.log(error);
            })
        } else {

          axios.post(this.url + '/leave_lobby/', content)
            .then(() => {
              // handle success
              console.log('successful api call.');
              this.connected = 'false';
              this.connection = 'portforward';
              this.get_lobbies();
            })
            .catch(error => {
              // handle error
              console.log(error);
            })
        }
      },
      get_lobbies(){
        this.lobbies_temp = [];
        axios.get(this.url + '/get_lobbies/')
          .then(response => {
            // console.log(response.data)
            for (var item of Object.keys(response.data)) {
              // console.log(JSON.stringify(response.data[item]))
              this.lobbies_temp.push(response.data[item])
            }
            if (this.lobbies_temp !== this.lobbies){
              this.lobbies = this.lobbies_temp;
            }
          })
          .catch((err) => console.error(err));
      }

    },
    watch: {
    },
    async created() {
      console.log("{{data}}")
      this.django_username = "{{data.django_username}}";
      this.username = "{{data.username}}";
      this.discord_id = "{{data.discord_id}}";
      this.avatar = "{{data.avatar}}";
      this.role = "{{data.role}}";
      this.email = '{{data.email}}';
      this.status = '{{data.status}}';
      this.reason = '{{data.reason}}';

      // Make a request for a user with a given ID
      try {
        const response = await axios.get('/api/get_id');
        // handle success
        console.log(response);
        this.user_id = JSON.parse(JSON.stringify(response['data']['user_id']))
        console.log(this.user_id)
      } catch (error) {
        // handle error
        console.log(error);
      }

      // Replace these with your actual credentials
      const username = this.django_username;
      const password = this.discord_id;
      console.log(username)
      console.log(password)

      try {
        const response = await axios.post(this.url + '/api/v1/token/login/', {
          username: username,
          password: password
        });
        // handle success
        const token = response.data.auth_token;
        // Use the token in future requests
        axios.defaults.headers.common['Authorization'] = `Token ${token}`;
        // localStorage.setItem('token', token);


        console.log('Token stored and set in headers:', token);

      } catch (error) {
        // handle error
        console.error('Error fetching auth token:', error);
      }
      this.get_lobbies();
    },
    mounted() {
      this.email = 1; //this is to avoid the email prompt for now, in the future we can incorporate it... will also have to create logic to send the email upon new content uploads...
      if (this.email == '') {
        // document.getElementById(email_modal).showModal()
        email_modal.showModal()
      }
      this.nics = [];
        axios.get('/api/get_network_adapters')
          .then(response => {
            console.log(response.data)
            console.log(response.data['nics'])
            for (var item of response.data['nics']) {
              // console.log(JSON.stringify(response.data[item]))
              this.nics.push(item)
            }
          })
          .catch((err) => console.error(err));

      this.intervalCheck = setInterval(() => {
        this.lobbies_temp = [];
        axios.get(this.url + '/get_lobbies/')
          .then(response => {
            // console.log(response.data)
            for (var item of Object.keys(response.data)) {
              // console.log(JSON.stringify(response.data[item]))
              this.lobbies_temp.push(response.data[item])
            }
            if (this.lobbies_temp !== this.lobbies){
              this.lobbies = this.lobbies_temp;
            }
          })
          .catch((err) => console.error(err));
      }, 10000)
    },
    computed: {
      connected() {
      if (this.connected == 'true') {
        this.intervalCheck = setInterval(() => {
        axios.get(this.url + '/get_current_lobby/')
          .then(response => {
            // console.log(response.data)
            if (response != this.current_lobby){
              this.current_lobby = response;
            }
          })
          .catch((err) => console.error(err));
      }, 10000)      }
    }
    }

  }).mount('#index_app2')
</script>

</html>